{% extends 'base.html' %}


{% block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus beatae impedit ea natus maiores ratione cum quos, inventore saepe fugit, omnis quae, eius odit! Id quam officia, unde hic qui a nisi nesciunt odio sint repudiandae quis! Tenetur in suscipit, quibusdam molestiae inventore nobis ab accusantium saepe ipsa dolorem corrupti repellat recusandae deserunt minima dicta fuga voluptates officiis rerum voluptatibus sequi temporibus quia eius. Dignissimos ipsam consequuntur in ratione quibusdam officia saepe voluptates incidunt nisi tempora! Culpa illo soluta dolor voluptatem architecto. Dolorum, quidem atque consequuntur at harum error eligendi deleniti eveniet quaerat, eum officia facere dolorem nulla veritatis nihil.</p>
{% endblock %}
